* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

:root {
    --black: #000f08;
    --green: #1c3738;
    --gray: #4d4847;
    --white-green: #f4fff8;
    --light-green: #627a7c;
}

nav {
    width: 100%;
    height: 80px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    align-items: center;
    z-index: 999;
}

.logo {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-start;
}

.menus {
    display: flex;
    align-items: center;
}

.perfil {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: flex-end;
}

.logo>a,
.menus>a,
.perfil>a {
    color: white;
    font-size: 32px;
    padding: 0 10px;
}

.logo>a:hover,
.menus>a:hover,
.perfil>a:hover {
    color: yellow;
}

.logo>a>img,
.perfil>a>img {
    width: 60px;
    border-radius: 30px;
    display: flex;
}

header>img {
    width: 100%;
    height: 100vh;
    position: relative;
}

.welcome {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    left: 32%;
    color: white;
}

#down {
    color: white;
    font-size: 32px;
}

.main_index {
    width: 100%;
    height: 100vh;
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 100px;
}

.ferramentas {
    width: 70%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 100px;
}

.cliente,
.produto,
.comanda {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.cliente>a>button,
.produto>a>button,
.comanda>a>button {
    color: white;
    background-color: var(--green);
    font-size: 32px;
    border-radius: 10px;
    width: 200px;
}

.cliente>a>button:hover,
.produto>a>button:hover,
.comanda>a>button:hover {
    cursor: pointer;
    color: yellow;
}

.sobre {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray);
    color: white;
    padding-top: 100px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 200px;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.card>img {
    width: 150px;
    border-radius: 150px;
}

.personal_icons>a>i {
    color: white;
    font-size: 32px;
    padding-top: 10px;
    padding-right: 10px;
}

.personal_icons>a>i:hover {
    color: yellow;
}

footer {
    width: 100%;
    height: 200px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.geral {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo2>a>img {
    width: 150px;
}

.contato,
.infos {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
}

.icons>a>i {
    color: white;
    font-size: 32px;
    padding-top: 10px;
    padding-right: 10px;
}

.icons>a>i:hover {
    color: yellow;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid white;
    width: 80%;
    margin: 0 auto;
}